@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
body{
padding: 0;
margin: 0;


}
.button{
    background-color: transparent;
    border: 0;
   
    }

*{
    padding: 0;
margin: 0;
}

.container-fluid{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
  
   position: fixed;
   z-index: 2;
   margin: 0;
   width: 100%;
 
}
.navbar-nav li a{
    font-family: 'Josefin Sans';
    font-size: 20px;

    font-weight: 700;
    color: black;
}

.maincontainer{

   

    
}

.reveal.first{
    
    transform: translateX(-50px);
    opacity: 0;
    transition:  3s ease;
}
.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
   
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    
}
.thefront{
 
    width:100% ;
 height: 500px;
  
    border-radius: 20px;
    background-image: url(1bg.gif);


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}


.reveal.active{
    transform: translateY(0px);
    opacity: 1;
    
}
.slideshow-container {
    
    max-width: 100%;
    margin-top: 100px;
    margin-left: auto;

    margin-right: auto;
  position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

#phonediv{
  display: flex;align-items: center;justify-content: right;position: fixed;width: 100%;position: fixed;
  top: 100px;
  right: 0;
  z-index: 2;

}
#logo{
margin-top: 10px;
margin-left: 0;
    height: 80px;
    color: #dda0dd;
}
.dropdown-menu {
   width: 1200px; /* Adjust the width as needed */

z-index: 5;
    
    /**/
  }
  .dropdown-menu span{
    display: flex;justify-content: center;flex-wrap: wrap;z-index: 10;
  }
  @media (max-width:1430px){
.dropdown-menu{
width: 1000px;
}
  }
  @media (max-width:1230px){
    .dropdown-menu{
    width: 800px;
    }
      }
      @media (max-width:1030px){
        .dropdown-menu{
        width: 600px;
        }
          }
        
          @media (max-width:950px){
            .dropdown-menu{
            width: 500px;
            }
            .slideshow-container{
                margin-top: 130px;
            }
                .dropdown-menu li a{
                    color: grey;
                    font-family: 'poppins';
                    font-size: 8px;
                    margin: 0 3px;
                    
                    text-decoration: none;
                }
            .dropdown-menu span{
              display: flex; justify-content: start; flex-wrap: wrap"
            }
            #nav-1{
                margin-top: -30px;
            }
            #phonediv{
                margin-top: -20px;
            }
              }

/*--------------------------------------------------------------------------------------------------------*/

#phonetop{
    padding: 3px 15px ;
    border: 0;
    border-radius: 20px;
    background-color: purple;
    color: white;
    font-family:'Josefin Sans';
    font-size: 20px;
    transition:  0.5s;
}
#phonetop:hover{
    background-color: white;
    color: purple;
    box-shadow: 0px 0px 10px black;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

.controls {
    margin-top: 10px;
}

button {
    
    background: transparent;
    color: #fff;
    border: none;
  
    cursor: pointer;
}
.prev{
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
    left: 0;
}
.next{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left:95%;
}

.controls button:hover{
transform: scale(1.05);
  
}
/*--------------------------------------------------------------------------------------------------------*/

  .dropdown-menu li {
    padding: 5px 0;
  }
.navbar-nav{
    margin-top: 30px;
  
    margin-left: 5px;
}
.icon-bar{
   background-color: white;
    color: black;
}
.jumbotron{
    font-family: 'poppins';
    
    color: white;
    background: transparent;
    text-align: center;
    
}
.row{
    padding: 0;
    margin: 0;
}

.navbar-nav li a:hover{
    background-color: transparent;
 
    color: plum;}
    .active a{
        background-color: transparent;
        
        color: plum;
    }
    .slideshow-container {
        width: 100%;
    

    }

    .mySlides {
        width: 100%;
        display: none;
    }

    .mySlides img {
        width: 100%;
    }
.col-sm-6 button:hover{
    background-color: black;
    color: white;
}.navbar-nav li a{
    background-color: transparent;
}
.dropdown-menu{
    background-color: white;
    color: white;

    border: 0;
}
.dropdown-menu li a{
    color: grey;
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.dropdown-menu li a:hover{
    color: plum;
}

.dropdown-menu h3{
    color: black;

}
.coursecontainer {
    position: relative;
    width: 100%;
  }
.reveal{
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition:  3s ease;
} 
  .courseimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .coursemiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .coursecontainer:hover .courseimage {
    opacity: 0.7;
    background-color: black;
    cursor: pointer;
  }
  
  .container1 {
  
width: 100%;
height: 100%;
    background-color: #4158D0;
  border-radius: 20px;
    background-color: transparent;

  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.container1 video{
    border-radius: 10px;
width: 100%;
margin-top: 50px;
/**/


}
  
  .container1:hover .middle {
    opacity: 1;
  }
  
#knowmore{
    border: 0;
    border-radius: 5px;
    background-color: plum;
    color: #000000;
    font-family: 'poppins';
    margin-top: 25px;
    font-weight: 600;
    text-align: center;
    padding: 5px 15px;
}
#knowmore:hover{
    color: plum;
    background-color: #000000;
}

  .coursecontainer:hover .coursemiddle {
    opacity: 1;
    cursor: pointer;
  }
  #Our-Courses{
    color: #000000;
    font-family: 'Josefin Sans';
    font-weight: 500;
    text-align: center;
  }
  #fih{
    color: #000000;
    font-family: 'Josefin Sans';
 
    text-align: center;
    text-transform: uppercase;
  }
  #fih-desc{
    color: gray;
    font-family: 'Josefin Sans';
    font-weight: 500;
    text-align: center;
   
  }
  #Our-Courses-desc
{
    color: gray;
    font-family: 'poppins';
    font-weight: 300;
    text-align: center;
}
.cardcourse{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}
#fih-para{
    font-weight: 400;
    color: gray;
    font-family:'Josefin Sans' ;
    text-align: justify;
}
.cardcourse h1{
    font-family: 'poppins';
    font-weight: 500;
    color: white;
    text-shadow: 0px 0px 20px black;
}

#coudebtn{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    border: 0;
    padding: 0 15px;
    border-radius: 30px;
}
#coudebtn:hover{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
cursor: pointer;
}
.cardcourse.fir{
    width: 400px;
    background-image: url(vfxbg.gif);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardcourse.sec{
    width: 400px;
    background-image: url(gamingbg.gif);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardcourse.third{
    width: 400px;
    background-image: url(animationbg.gif);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardcourse.fourth{
    width: 400px;
    background-image: url(multimediabg.gif);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-lg-3{
    padding: 0;
    margin: 0;
}

.glass{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    margin: 16px;
    width: 600px;
    box-shadow: 0px 0px 7px lightskyblue;
    padding: 20px;
    
    border-radius: 20px;
}
input{
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: black;
font-size: 20px;
    font-family: 'poppins';
    text-align: center;
    width: 90%;
    font-weight: 400;
    margin: 10px;
}
select{
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: black;
font-size: 20px;
    font-family: 'poppins';
    text-align: center;
    width: 90%;
    font-weight: 400;
    margin: 10px;
}
textarea{
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: #000000;
    font-family: 'poppins';
    text-align: center;
    width: 90%;
    font-weight: 400;
    margin: 10px;
}
::placeholder{
    color: #000000;
    font-weight: 500;
    font-family: 'Josefin Sans';
}
#subbtn{
    background-color: #0093E9;
    color: #000000;
    padding: 2px 15px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border: 0;
}
#subbtn:hover{
    color:#0093E9 ;
    background-color: #000000;
}

.glass1{
    backdrop-filter: blur(5px);
    background-color:black;
   border: 3px solid white;
    width: 300px;
    color: white;
    padding: 10px;
    margin: 10px;
    transition:  0.1s;
    cursor: pointer;
    border-radius: 20px;
}
.glass1:hover{
    background-color: white;
    color: #000000;
}
.glass.reveal3{

opacity: 0;
    transform: translateY(-50px);
    opacity: 0;

    transition: all 3s ease;
}
.glass1.reveal3{

    opacity: 0;
        transform: translateY(-50px);
        opacity: 0;
       
        transition:  1s ease;
    }
.iconlogo.reveal3{
    
    opacity: 0;
        transform: translateY(-50px);
        opacity: 0;
        transition:  3s ease;
}/* Style the slideshow container */
/* Style the slideshow container */
.reviewcon{
    width: 800px;
    display: flex;
    overflow:auto;   
    border: 0;
    background-color: purple;
     border-radius: 30px;
    scroll-snap-type: x mandatory;
    margin: 15px 0;
   
  
}

.reviewcon img{
    width: 100%;
    border: 2px solid purple;
    scroll-snap-align: center;
    border-radius: 30px;

}
.reviewcon::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Optional: Style the track and thumb (you can adjust this to your preference) */
.reviewcon::-webkit-scrollbar-track {
    background: transparent;
}

.reviewcon::-webkit-scrollbar-thumb {
    background: transparent;
}

#apply_btn{
    color: green;width: 200px;
    font-family: 'poppins';
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    border: 2px solid green;
    background-color: transparent;
    padding: 5px 15px;
}
#con-logo{
    width: 40px;
    margin: 10px;
}
#getmore_btn{
    color: yellow;
    width: 200px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'poppins';
    text-align: center;
    border: 2px solid yellow;
    background-color: transparent;
    padding: 5px 15px;
}
#about_down h1{
    text-align: left;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 25px;
    color: white;

}
#about_down{
    margin-top: 60px;
}
#about_down h3{
    text-align: left;
    font-family: 'poppins';
    font-weight: 200;
    cursor: pointer;
    font-size: 20px;
    color: gray;
}
#about_down h3:hover{
    color: white;
    cursor: pointer;
}
@media (max-width:800px){
    .container{
        position: relative;
        width:100% ;
        height: 450px;
    }
    #logo{
        height: 60px;
    }
    .prev{
        width: 20px;
        margin: 0;
        display: none;
    }
    .next{
        width: 20px;
        margin: 0; display: none;
    }
    #nextButton-custom{
        width: 20px;
        margin: 0; display: none;
    }
    #prevButton-custom{
        width: 20px;margin: 0; display: none;
    }
}
.slideshow-container1 {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

/* CSS to hide the slides by default */
.mySlides-custom {
    display: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
.mySlides-custom img{
    width: 100%;
    border-radius: 20px;
}
#nextButton-custom{
    background-color: transparent;
    margin:  20px;
    border: 0;
}
#prevButton-custom
{
    background-color: transparent;
    margin: 20px;
    border: 0;
}
#nav-1{
    background-color: white;
    position: fixed;
    z-index: 3;
   padding: 0;
    width: 100%;
    margin-top: -10px;
}

/********************************************************************************************************************************************
*********************************************************************************************************************************************
*************************************************** COURSES *********************************************************************************
*********************************************************************************************************************************************
********************************************************************************************************************************************/
#coursebody
{
    background-color: gainsboro;
  
}#horizontal-scrollable-div-1 {
   width: 100%; /* Set a max width to enable horizontal scrolling */
    overflow-x: auto; /* Always show scrollbar for horizontal scrolling */
  }
  
  /* Hide horizontal scrollbar when there is no overflow */
  #horizontal-scrollable-div-1::-webkit-scrollbar {
    height: 0;
  }
  
  #horizontal-scrollable-div-1 {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Show horizontal scrollbar on hover */
  #horizontal-scrollable-div-1:hover::-webkit-scrollbar {
    height: 12px;
  }
  
  #horizontal-scrollable-div-1:hover {
    scrollbar-width: thin;
    scrollbar-color: transparent; /* Scrollbar Track and Handle colors */
  }
/**********************************/
  #horizontal-scrollable-div-2 {
    width: 100%; /* Set a max width to enable horizontal scrolling */
     overflow-x: auto; /* Always show scrollbar for horizontal scrolling */
   }
   
   /* Hide horizontal scrollbar when there is no overflow */
   #horizontal-scrollable-div-2::-webkit-scrollbar {
     height: 0;
   }
   
   #horizontal-scrollable-div-2 {
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
   }
   
   /* Show horizontal scrollbar on hover */
   #horizontal-scrollable-div-2:hover::-webkit-scrollbar {
     height: 12px;
   }
   
   #horizontal-scrollable-div-2:hover {
     scrollbar-width: thin;
     scrollbar-color: transparent; /* Scrollbar Track and Handle colors */
   }
   /**********************************************/
   #horizontal-scrollable-div-3 {
    width: 100%; /* Set a max width to enable horizontal scrolling */
     overflow-x: auto; /* Always show scrollbar for horizontal scrolling */
   }
   
   /* Hide horizontal scrollbar when there is no overflow */
   #horizontal-scrollable-div-3::-webkit-scrollbar {
     height: 0;
   }
   
   #horizontal-scrollable-div-3 {
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
   }
   
   /* Show horizontal scrollbar on hover */
   #horizontal-scrollable-div-3:hover::-webkit-scrollbar {
     height: 12px;
   }
   
   #horizontal-scrollable-div-3:hover {
     scrollbar-width: thin;
     scrollbar-color: transparent; /* Scrollbar Track and Handle colors */
   }
   /***********************************************************/
   #horizontal-scrollable-div-4 {
    width: 100%; /* Set a max width to enable horizontal scrolling */
     overflow-x: auto; /* Always show scrollbar for horizontal scrolling */
   }
   
   /* Hide horizontal scrollbar when there is no overflow */
   #horizontal-scrollable-div-4::-webkit-scrollbar {
     height: 0;
   }
   
   #horizontal-scrollable-div-4 {
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
   }
   
   /* Show horizontal scrollbar on hover */
   #horizontal-scrollable-div-4:hover::-webkit-scrollbar {
     height: 12px;
   }
   
   #horizontal-scrollable-div-4:hover {
     scrollbar-width: thin;
     scrollbar-color: transparent; /* Scrollbar Track and Handle colors */
   }
   /******************************************************/
   #horizontal-scrollable-div-5 {
    width: 100%; /* Set a max width to enable horizontal scrolling */
     overflow-x: auto; /* Always show scrollbar for horizontal scrolling */
   }
   
   /* Hide horizontal scrollbar when there is no overflow */
   #horizontal-scrollable-div-5::-webkit-scrollbar {
     height: 0;
   }
   
   #horizontal-scrollable-div-5 {
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
   }
   
   /* Show horizontal scrollbar on hover */
   #horizontal-scrollable-div-5:hover::-webkit-scrollbar {
     height: 12px;
   }
   
   #horizontal-scrollable-div-5:hover {
     scrollbar-width: thin;
     scrollbar-color: transparent; /* Scrollbar Track and Handle colors */
   }
   /*******************************************************************/
   #horizontal-scrollable-div-6 {
    width: 100%; /* Set a max width to enable horizontal scrolling */
     overflow-x: auto; /* Always show scrollbar for horizontal scrolling */
   }
   
   /* Hide horizontal scrollbar when there is no overflow */
   #horizontal-scrollable-div-6::-webkit-scrollbar {
     height: 0;
   }
   
   #horizontal-scrollable-div-6 {
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
   }
   
   /* Show horizontal scrollbar on hover */
   #horizontal-scrollable-div-6:hover::-webkit-scrollbar {
     height: 12px;
   }
   
   #horizontal-scrollable-div-6:hover {
     scrollbar-width: thin;
     scrollbar-color: transparent; /* Scrollbar Track and Handle colors */
   }
   /**************************************************************************/

.card-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
    padding: 80px 30px;
}
.card-container .card{
    position: relative;
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.5s;
}
.card-container .card:hover{
    height: 400px;
}
.card-container .card .imgBx{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.card-container .card:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.card-container .card .imgBx img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.card-container .card .content{
    position: absolute;
    top:252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.card-container .card:hover .content{
    top: 130px;
    height: 250px;
}
.card-container .card .content h4{
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Josefin Sans';
    color:purple;
}
.card-container .card .content p{
    color: black;
    font-weight: 600;
    font-family: 'poppins';
    text-align: justify;
}
.card-container .card .content a{
  position: relative;
  
  display: inline-block;
  padding: 12px 25px;
  background: plum;text-decoration: none;
  font-weight: 500;
  border-radius: 8px;
  color: black;
}
.card-container .card .content a:hover{
    color: plum;
    background: black;
}

#cp-ourcourses{
   
    font-weight: 700;
    font-family: 'Josefin Sans';
    color:purple; 
    text-align: center;
}
#course-head{
    font-family: 'poppins';
    color: purple;
    margin-left: 30px;
    display: inline-block;
    border-bottom: 8px dotted plum;
}
.join-head{
     
    font-weight: 700;
    font-family: 'Josefin Sans';
    color:black; 
    
    text-align: center;
}
#join-desc{
    font-weight: 500;
    padding: 0 20px;
    color: #000000;
    text-align: justify;
}
#join-btn{
    background-color:black;
    padding: 7px 20px;
    font-size: 20px;
    color: white;
    font-weight: 500;
   margin: 20px;
    border-radius: 20px;
}
#join-btn:hover{
    background-color: white;
    color: purple;
}
.popup{
    width: 100%;
    background: #fff;
    border-radius: 6px;

margin: auto;

padding:10px 50px;


}
#pop-sub{
    border: 0;
    background-color: lightgreen;
    color: #000000;
    padding: 2px 20px;
    border-radius: 10px;
   margin: 15px;
    font-size: 20px;
}
#pop-sub:hover{
    background-color: #000000;
    color: lightgreen;
}


.popup input{
    margin: 15px;
    
    width: 500px;
  }

.popup select{
    margin: 15px;
    width: 500px;
}
#backpage{
    font-family: 'poppins';
    font-weight: 500;
    color: #fff;
    font-size: 25px;
    display: flex;
    border-radius: 30px;
    padding: 5px 15px;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.add-friends input{
    width: 320px;
}
#vid-bg{

}
.glassform{
    width: 600px;
}

/**********************************************************************************************************************************************
***********************************************************************************************************************************************
***********************************************************************************************************************************************
**********************************************************************************************************************************************/
#about-wel-desc{
    width: 90%;
    font-family: 'poppins';
    color: #000000;
    text-align: justify;
    font-weight: 400;
}
.maincontainer1{
    position: relative;
    width:300px ;
    height: 300px;
   

    
}
.reveal1{
    transform: translateY(80px);
    opacity: 0;
    transition:  2s ease;
}
.thecard1{
    position: absolute;
    width: 100%;
    height: 100%;
   
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    
}
.thefront1{
    position: absolute;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    backface-visibility: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
.thefront1{
  background-image: url(pexels-august-de-richelieu-4260314.jpg);
}
.thefront1.c2{
    background-image: url(pexels-polina-zimmerman-3747481.jpg);
  }
  .thefront1.c3{
    background-image: url(pexels-ron-lach-8100065.jpg);
  }
  .thefront1.c4{
    background-image: url(pexels-fauxels-3182754.jpg);
  }

.theback1 {
    position: absolute;
    width: 100%;
    border-radius: 20px;
    background: rgb(128,72,156);
background: linear-gradient(0deg, rgba(128,72,156,1) 0%, rgba(109,103,228,1) 100%);
    height: 100%;
    backface-visibility: hidden;
   
    color: black;
    transform: rotateY(180deg);
}
.thecard1:hover{
    transform: rotateY(180deg);

}
.thefront1 h2{
    font-family: 'poppins';
    font-weight: 500;
    text-shadow: 0px 0px 10px black;
}
.thefront1 h4{
    font-family: 'poppins';
    font-weight: 400;
}

.theback1 h2{
    font-family: 'poppins';
text-align: center;
color: white;
margin-bottom: 30px;
margin-top: 30px;
    font-weight: 500;
}

.theback1 #desc{
    font-family: 'poppins';
text-align: justify;
color: white;
text-decoration: none;

margin: 5px 10px;
    font-weight: 400;
}
#learnmore_btn{
    color: black;
    background-color: orangered;
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
#learnmore_btn:hover{

    color: orangered;
    background-color: #000000;
}
#about-join{
    background-color: #C850C0;
    color: white;
    padding: 3px 20px;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    margin: 30px;
    font-family: 'poppins';
    transition: 0.5s;
}
#about-join:hover{
    background-color: purple;
    color: white;
    box-shadow: 7px 7px 10px black;
    scale: 1.1;

}
#fill-form-form input{
    color: black;
    border: 3px solid white;
    outline: 0;
    border-radius: 0;
    background-color: white;

}
#fill-form-form select{
    color: black;
    border: 3px solid white;
    outline: 0;
    border-radius: 0;
    background-color: white;
    
}
#fill-form-form::placeholder{
    color: white;
}
.add-friends input{
    color: white;
    border: 3px solid white;
    outline: 0;
}
#left-scroll{
    color: #000000;
    background-color: transparent;
font-size: 20px;
margin-left: 20px;
margin-right: 20px;}