@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
body{
padding: 0;
margin: 0;


}
.button{
    background-color: transparent;
    border: 0;
   
    }

*{
    padding: 0;
margin: 0;
}

.container-fluid{
    background-color: white;
top: 0;
left:0;
   padding: 0;
   position: fixed;
   z-index: 2;
   width: 100%;
 
}
.navbar-nav li a{
    font-family: 'Josefin Sans';
    font-size: 20px;

    font-weight: 700;
    color: black;
}

.maincontainer{

   

    
}

.reveal.first{
    
    transform: translateX(-50px);
    opacity: 0;
    transition: all 3s ease;
}
.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
   
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    
}
.thefront{
 
    width:100% ;
 height: 500px;
  
    border-radius: 20px;
    background-image: url(1bg.gif);


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}


.reveal.active{
    transform: translateY(0px);
    opacity: 1;
    
}
#logo{
margin-top: 10px;
margin-left: 0;
    height: 80px;
    color: #dda0dd;
}
.dropdown-menu {
   width: 1200px; /* Adjust the width as needed */
    transition: all 2s ease-in;
    /**/
  }

  /* Optionally, adjust the spacing inside the dropdown menu */
  .dropdown-menu h3 {
    margin: 10px 0;
  }

/*--------------------------------------------------------------------------------------------------------*/


.slideshow-container {
    
    max-width: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

.controls {
    margin-top: 10px;
}

button {
    
    background: transparent;
    color: #fff;
    border: none;
  
    cursor: pointer;
}
.prev{
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
    left: 0;
}
.next{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left:95%;
}

.controls button:hover{
transform: scale(1.05);
  
}
/*--------------------------------------------------------------------------------------------------------*/

  .dropdown-menu li {
    padding: 5px 0;
  }
.navbar-nav{
    margin-top: 30px;
  
    margin-left: 5px;
}
.icon-bar{
   background-color: white;
    color: black;
}
.jumbotron{
    font-family: 'poppins';
    
    color: white;
    background: transparent;
    text-align: center;
    
}
.row{
    padding: 0;
    margin: 0;
}

.navbar-nav li a:hover{
    background-color: transparent;
 
    color: plum;}
    .active a{
        background-color: transparent;
        
        color: plum;
    }
    .slideshow-container {
        width: 100%;
    

    }

    .mySlides {
        width: 100%;
        display: none;
    }

    .mySlides img {
        width: 100%;
    }
.col-sm-6 button:hover{
    background-color: black;
    color: white;
}.navbar-nav li a{
    background-color: transparent;
}
.dropdown-menu{
    background-color: white;
    color: white;

    border: 0;
}
.dropdown-menu li a{
    color: grey;
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.dropdown-menu li a:hover{
    color: plum;
}

.dropdown-menu h3{
    color: black;

}
.coursecontainer {
    position: relative;
    width: 100%;
  }
.reveal{
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition: all 3s ease;
} 
  .courseimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .coursemiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .coursecontainer:hover .courseimage {
    opacity: 0.7;
    background-color: black;
    cursor: pointer;
  }
  
  .container {
    position: relative;
    width: 100%;
 
    padding: 0;
    margin-top: 20px;
    border-radius: 20px;
    background-color: transparent;
  }

  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.container video{
    border-radius: 10px;
  margin-top: 5px;
}
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
#knowmore{
    border: 0;
    border-radius: 5px;
    background-color: plum;
    color: #000000;
    font-family: 'poppins';
    margin-top: 25px;
    font-weight: 600;
    text-align: center;
    padding: 5px 15px;
}
#knowmore:hover{
    color: plum;
    background-color: #000000;
}

  .coursecontainer:hover .coursemiddle {
    opacity: 1;
    cursor: pointer;
  }
  #Our-Courses{
    color: #000000;
    font-family: 'Josefin Sans';
    font-weight: 500;
    text-align: center;
  }
  #fih{
    color: #000000;
    font-family: 'Josefin Sans';
 
    text-align: center;
    text-transform: uppercase;
  }
  #fih-desc{
    color: gray;
    font-family: 'Josefin Sans';
    font-weight: 500;
    text-align: center;
   
  }
  #Our-Courses-desc
{
    color: gray;
    font-family: 'poppins';
    font-weight: 300;
    text-align: center;
}
.cardcourse{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}
#fih-para{
    font-weight: 400;
    color: gray;
    font-family:'Josefin Sans' ;
    text-align: justify;
}
.cardcourse h1{
    font-family: 'poppins';
    font-weight: 500;
    color: white;
    text-shadow: 0px 0px 20px black;
}

#coudebtn{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    border: 0;
    padding: 0 15px;
    border-radius: 30px;
}
#coudebtn:hover{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
cursor: pointer;
}
.cardcourse.fir{
    width: 400px;
    background-image: url(vfxbg.gif);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardcourse.sec{
    width: 400px;
    background-image: url(gamingbg.gif);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardcourse.third{
    width: 400px;
    background-image: url(animationbg.gif);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardcourse.fourth{
    width: 400px;
    background-image: url(multimediabg.gif);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    margin: 16px;
    width: 80%;
    box-shadow: 0px 0px 7px lightskyblue;
    padding: 20px;
    
    border-radius: 20px;
}
input{
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: black;
font-size: 20px;
    font-family: 'poppins';
    text-align: center;
    width: 90%;
    font-weight: 400;
    margin: 10px;
}
textarea{
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: #000000;
    font-family: 'poppins';
    text-align: center;
    width: 90%;
    font-weight: 400;
    margin: 10px;
}
::placeholder{
    color: #000000;
    font-weight: 500;
}
#subbtn{
    background-color: #0093E9;
    color: #000000;
    padding: 2px 15px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border: 0;
}
#subbtn:hover{
    color:#0093E9 ;
    background-color: #000000;
}

.glass1{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);
   
    width: 300px;
    box-shadow: 0px 0px 7px lightskyblue;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.glass.reveal3{

opacity: 0;
    transform: translateY(-50px);
    opacity: 0;

    transition: all 3s ease;
}
.glass1.reveal3{

    opacity: 0;
        transform: translateY(-50px);
        opacity: 0;
       
        transition: all 3s ease;
    }
.iconlogo.reveal3{
    
    opacity: 0;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 3s ease;
}/* Style the slideshow container */
/* Style the slideshow container */
.reviewcon{
    width: 800px;
    display: flex;
    overflow:auto;   
    border: 0;
    background-color: purple;
     border-radius: 30px;
    scroll-snap-type: x mandatory;
    margin: 15px 0;
   
  
}
.reviewcon img{
    width: 100%;
    border: 2px solid purple;
    scroll-snap-align: center;
    border-radius: 30px;

}
.reviewcon::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Optional: Style the track and thumb (you can adjust this to your preference) */
.reviewcon::-webkit-scrollbar-track {
    background: transparent;
}

.reviewcon::-webkit-scrollbar-thumb {
    background: transparent;
}

#apply_btn{
    color: green;width: 200px;
    font-family: 'poppins';
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    border: 2px solid green;
    background-color: transparent;
    padding: 5px 15px;
}
#con-logo{
    width: 40px;
    margin: 10px;
}
#getmore_btn{
    color: yellow;
    width: 200px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'poppins';
    text-align: center;
    border: 2px solid yellow;
    background-color: transparent;
    padding: 5px 15px;
}
#about_down h1{
    text-align: left;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 25px;
    color: white;

}
#about_down{
    margin-top: 60px;
}
#about_down h3{
    text-align: left;
    font-family: 'poppins';
    font-weight: 200;
    cursor: pointer;
    font-size: 20px;
    color: gray;
}
#about_down h3:hover{
    color: white;
    cursor: pointer;
}
@media (max-width:800px){
    .container{
        position: relative;
        width:100% ;
        height: 450px;
    }
    #logo{
        height: 60px;
    }
    .prev{
        width: 20px;
        margin: 0;
        display: none;
    }
    .next{
        width: 20px;
        margin: 0; display: none;
    }
    #nextButton-custom{
        width: 20px;
        margin: 0; display: none;
    }
    #prevButton-custom{
        width: 20px;margin: 0; display: none;
    }
}
.slideshow-container1 {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

/* CSS to hide the slides by default */
.mySlides-custom {
    display: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
.mySlides-custom img{
    width: 100%;
    border-radius: 20px;
}
#nextButton-custom{
    background-color: transparent;
    margin:  20px;
    border: 0;
}
#prevButton-custom
{
    background-color: transparent;
    margin: 20px;
    border: 0;
}